
.nav {
    grid-area: n;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.navList {
    list-style: none;
}

.navListItem {
    width: 200px;
    height: 28px;

}

.navListItem:hover {
    background-color: rgba(150, 150, 150, 0.16);

}

.navListLink {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #1d2129;
    font-size: 18px;
    width: 100%;
    height: 100%;
}

.active{
  background-color: #4267B2;
  color: #ffffff;
  border-radius: 5px;
}

.ico {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}