
.content img {
    height: 150px;
    width: 100%;
}

.profileCover {
    position: relative;
    width: 100%;
    height: 250px;
    background: url("https://miro.medium.com/max/4000/1*QqfEHlLdVVZIaytTsupcbw.jpeg") 50% 50% / cover no-repeat;
}

.userAvatar {

    position: absolute;
    bottom: -30px;
    left: 10px;
    width: 168px;
    height: 168px;
    border-radius: 50%;
    background-color: #E9EBEE;
    border: 4px solid #b7b5b5;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRc96kcLicYy25CFi7P_ocMargwSC_vjRxIMg&usqp=CAU") 50% 50% / cover no-repeat;
}

.userName {
    color: #000000;
    font-size: 24px;
    padding-left: 170px;
}

.tools {
    height: 43px;
    width: 100%;
    background-color: #ffffff;
}



