.app-wrapper {
    display: grid;
    grid-template-rows: 43px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas:
            "h h"
            "n c";
    grid-gap: 10px;
    background-color: #E9EBEE;
}

.content {
  grid-area: c;
  background-color: #F5F6F7;
}