.headerNav {
    color: #ffffff;
}

.headerNavList {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.headerNavLink {
    position: relative;
    padding: 5px 12px;
}


.headerNavLink:hover {
    background-color: rgba(23, 69, 153, 0.75);
}

.headerNavLink a {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-items: center;

}

.linkLogo {
    border-radius: 50%;
    margin-right: 5px;
}





