.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogs-items {

}

.dialogs__name {

}

.dialogs-messages {

}

.dialogs__message {

}

.active {
  color: gold;
  background-color: #4080FF;
}
